.FinanceProject-Indexes {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1vh 0 3vh 3vw;
    border-bottom: 1px solid #ddd;

    .Indexes-Dummy {
        border-right: 1px solid #f1f1f1;
        margin-right: 2vw;
    }

    .Indexes-Info {
        width: 25%;
        margin-right: 2vw;
        margin-left: 1vw;
        border-right: 1px solid #f1f1f1;

        .Info-Title {
            display: flex;
            align-items: end;
            width: 85%;

            .Title-ko {
                font-size: 1.8em;
                font-weight: bold;
                margin-right: 1vw;
            }

            .Title-en {
                font-size: 1.3em;
                color: #8f8f8f;
            }
        }

        .Info-Index {
            display: flex;
            align-items: end;
            width: 85%;

            .Index-index {
                font-size: 2.1em;
                margin-right: 1vw;
            }

            .Index-detail {
                font-size: 1.5em;
                margin-right: 1vw;
            }

            .Index-per {
                font-size: 1.2em;
                margin-right: 1vw;
            }
        }

        .Info-Chart {
            text-align: center;
            width: 85%;
            
            .chart {
                width: 100%;
            }
        }
    }
}