.FinanceProject-StartPage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-repeat: none;
    background-size: 100%;

    .StartPage-contents {
        width: 100%;
    }
}
