.FinanceProject-HomeInfo {
    justify-content: center;
    max-width: 100vw;
    max-height: 100vh;

    .FinanceProject-Home-Content {
        text-align: center;
        font-size: 4em;
        font-weight: bold;
        margin-top: 10vh;
    }

    .Prev-Home-Link {
        display: flex;
        justify-content: center;
        margin-top: 10vh;

        .Link-Melon {
            padding: 3vh 4vw;
            border-radius: 20px;
            margin-right: 1vw;
            border: none;
            font-size: 1em;
            font-weight: bold;
            color: white;
            text-decoration: underline;
            box-shadow:
            0 1px 3px 0 rgba(0, 0, 0, 0.2),
            0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 2px 1px -1px rgba(0, 0, 0, 0.12);
            background: #00cd3c;
        }

        .Link-Genie {
            padding: 3vh 4vw;
            border-radius: 20px;
            margin-left: 1vw;
            margin-right: 1vw;
            border: none;
            font-size: 1em;
            font-weight: bold;
            color: white;
            text-decoration: underline;
            box-shadow:
            0 1px 3px 0 rgba(0, 0, 0, 0.2),
            0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 2px 1px -1px rgba(0, 0, 0, 0.12);
            background: #0095ff;
        }

        .Link-Vibe {
            padding: 3vh 4vw;
            border-radius: 20px;
            margin-left: 1vw;
            border: none;
            font-size: 1em;
            font-weight: bold;
            color: white;
            text-decoration: underline;
            box-shadow:
            0 1px 3px 0 rgba(0, 0, 0, 0.2),
            0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 2px 1px -1px rgba(0, 0, 0, 0.12);
            background: pink;
        }

    }

    .Prev-Home-Logs {
        text-align: center;
        .Logs-Button {
            margin-top: 9vh;
            padding: 2vh 4vw;
            border-radius: 20px;
            margin-left: 1vw;
            border: none;
            font-size: 1em;
            font-weight: bold;
            color: white;
            text-decoration: underline;
            box-shadow:
            0 1px 3px 0 rgba(0, 0, 0, 0.2),
            0 1px 1px 0 rgba(0, 0, 0, 0.14),
            0 2px 1px -1px rgba(0, 0, 0, 0.12);
            background: #cac3c5;
            cursor: pointer;            
        }
    }

}
